.custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:hover {
    background-color: #ddd;
  }
  .background{
    background-color: rgb(208, 223, 238);
    height: 100%;
  }
  